
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    padding: 0 5%;
    z-index: 1;
}

.name {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all .5s ease;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 30px 0;
}

.navbar ul li {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: skyblue;
    color: black;
    box-shadow: 0 0 10px red;
    border-radius: 12px;
}

/* ------------------Home-section------------------------------- */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    color: white;
    
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    background: url(images/pro-pic1.jpg) no-repeat center center/cover;
     height: 900px;
     width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name-container + .surname {
    font-size: 5rem;
    font-weight: bold;
}
.surname{
    font-size: 4rem;
    font-weight: bold;
}

.resume {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: white;
}

.resume:hover {
    background-color: skyblue;
    color: rgb(20, 19, 19);
    box-shadow: 0 0 10px red, 0 0 15px red, 0 0 20px red;
}

/* Media Queries */

@media (max-width: 768px) {
    .navbar {
        padding: 0 3%;
    }

    .navbar ul li a {
        padding: 8px 10px;
    }

    .main {
        margin-top: 10%;
    }

    .name-container {
        font-size: 3rem;
    }
}

@media (max-width: 550px) {
    .name {
        font-size: 1.2rem;
    }

    .navbar ul {
        margin: 15px 0;
    }

    .navbar ul li a {
        font-size: 0.9rem;
    }

    #home {
        height: 100vh;
        padding: 250px 50px;
        text-align: center;
    }
    

    .main {
        margin-top: 5%;
    }

    .name-container {
        font-size: 2.5rem;
    }
    

    .resume {
        margin-top: 15px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 1.2rem;
    }

    .navbar ul {
        margin: 15px 0;
    }

    .navbar ul li a {
        font-size: 0.9rem;
    }

    #home {
        height: 85vh;
        padding: 250px 50px;
        text-align: center;
    }

    .main {
        margin-top: 5%;
    }

    .name-container {
        font-size: 2.5rem;
    }

    .resume {
        margin-top: 15px;
        padding: 8px 15px;
    }

}
@media (max-width: 450px) {
    .navbar {
        display: none;
    }
   

}

#aboutme {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/bg-pic.jpg") center/cover;
    padding: 50px;
    text-align: center;
    color: white;
}

.name-container-about {
    font-size: 4rem;
    margin-bottom: 30px;
}

.pro-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.pro-pic img {
    max-width: 30%;
    height: 30%;
    margin-bottom: 20px;
}

.about-sec p {
    font-size: 18px;
    line-height: 1.5;
}

.headings-about {
    font-size: 3rem;
    padding-bottom: 15px;
}

/* Media Queries */

@media (max-width: 768px) {
    .name-container-about {
        font-size: 3rem;
    }
}

@media (max-width: 550px) {
    .name-container-about {
        font-size: 2.5rem;
    }

    .headings-about {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .name-container-about {
        font-size: 2rem;
    }

    .headings-about {
        font-size: 2rem;
    }

    .pro-pic img {
        max-width: 80%;
    }
}

@media (max-width: 450px) {
    .pro-pic img {
        max-width: 90%;
    }
}

/* -------------------skill-section---------------------- */

#skill {
    /* position: relative; */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/bg-pic.jpg") center/cover;
}

#skill::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("") no-repeat center/cover;
    opacity: 0.8;
    z-index: -1;
}

.row {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: flex-start; /* Adjust alignment as needed */
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: auto; /* Enable horizontal scroll */
    gap: 10px; /* Add gap between boxes */
    
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
     
}
.row::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.box {
    flex: 0 0 350px; /* Set fixed width for equal size */
    height: 450px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%, rgb(18, 18, 18) 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
    color: white;
    overflow-y: auto; /* Enable vertical scroll */
}

.box:hover {
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

.name-container-skill {
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin: 40px auto;
    width: 100vw;
    text-align: center;
}

.box p {
    font-size: 18px;
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.skill {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: wheat;
}

/* Media Queries */

@media (max-width: 768px) {
    .name-container-skill {
        font-size: 3rem;
    }

    .skill {
        font-size: 3rem;
    }

    .box {
        flex: 0 0 45%;
    }
}

@media (max-width: 550px) {
    .name-container-skill {
        font-size: 2.5rem;
    }

    .skill {
        font-size: 2.5rem;
    }

    .box {
        flex: 0 0 100%;
        height: auto;
        margin: 10px 0;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .name-container-skill {
        font-size: 2rem;
    }

    .skill {
        font-size: 2rem;
    }
}

#contactme {
    background-color:rgba(0, 0, 0, 0.5); 
    background: url("images/bg-pic.jpg") no-repeat center center/cover;
    opacity: .8;
    padding: 80px;
    text-align: center;
}


.name-container-contact {
    font-size: 3rem;
    margin-bottom: 30px;
    color: white;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    
}



span h3 {
    
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
    
    transition: background-color 0.3s ease; 

    border: 2px solid red;
    
    
    
    
    
    bottom: 100px;
    margin-top: 50px;
    cursor: pointer;
}

span h3:hover {
    background-color: skyblue;
    color: black;
    box-shadow: 0 0 10px red, 0 0 15px red, 0 0 20px red;
}

.name-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.name-con .firstname {
    color: blue;
    font-size: 2.5rem;
    
}

.surname {
    color: red;
    font-size: 2.5rem;
}

.last-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.end-con {
    font-size: 18px;
    color: #ccc;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
}

.all-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.all-links a {
    color: #ccc;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.all-links a:hover {
    color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
    .name-container-contact {
        font-size: 2.5rem;
    }

    .hire {
        font-size: 2rem;
    }

    .first-name {
        font-size: 2.5rem;
    }

    .surname {
        font-size: 2.5rem;
    }

    .end-con {
        font-size: 16px;
    }

    .all-links a {
        font-size: 1.8rem;
    }
}

@media (max-width: 550px) {
    .name-container-contact {
        font-size: 2rem;
    }

    .hire {
        font-size: 1.8rem;
    }

    .first-name {
        font-size: 2rem;
    }

    .surname {
        font-size: 1.8rem;
    }

    .end-con {
        font-size: 14px;
    }

    .all-links a {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .name-container-contact {
        font-size: 1.8rem;
    }

    .hire {
        font-size: 1.6rem;
    }

    .first-name {
        font-size: 1.8rem;
    }

    .surname {
        font-size: 1.6rem;
    }

    .end-con {
        font-size: 12px;
    }

    .all-links a {
        font-size: 1.4rem;
    }
}

@media (max-width: 450px) {
    .pro-pic {
        margin-bottom: 20px;
    }

    .name-container-contact {
        font-size: 2rem;
    }

    .hire {
        font-size: 1.4rem;
    }

    .first-name {
        font-size: 1.6rem;
    }

    .surname {
        font-size: 2.5rem;
    }

    .end-con {
        font-size: 12px;
    }

    .all-links a {
        font-size: 1.2rem;
    }
}


/* project section styleing */

.projects-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #448acc;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.5); 
    background: url("images/bg-pic.jpg") no-repeat center center/cover;
    opacity: .8;
    flex-direction: column;
}
.project-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    z-index: 0;
}

.project-container .project-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    /* background: #448acc; */
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(165, 61, 61, 0.15);
    border: 1px solid red;
}

.project-container .project-card:hover {
    height: 240px;
}

.project-container .project-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(165, 61, 61, 0.15);
    border: 1px solid red;
}

.project-container .project-card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.project-container .project-card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-container .project-card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.project-container .project-card:hover .content {
    top: 130px;
    height: 250px;
}

.project-container .project-card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.project-container .project-card .content p {
    color: #333;
}

.project-container .project-card .content .proj {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 10px 22px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: red;
    border-radius: 12px;
    margin-bottom: 5px;
    cursor: pointer;
}

.project-container .project-card .content .proj:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    .project-container .project-card {
        width: 230px;
        border-radius: 15px;
    }

    .project-container .project-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .project-container .project-card .content h2{
        font-size: 1.2rem;
    }
}


.onclick-show{
    display: none;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

    
}
.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

.desc span{
    color: red;
}
.details .content a{
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.details .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}